.notfoundContainer {
  height: 100vh;
  width: 100vw;
  background-image: url('https://res.cloudinary.com/dzveiche5/image/upload/v1765095094/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_uovjmq.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nfHeading {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
}
.nfPara {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.nfButton {
  display: flex; /* Flow: Vertical */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 120px;
  height: 48px;

  padding: 12px 24px;
  border-radius: 4px;
  border-style: none;
}
.linkbutton{
  text-decoration: none;
}
