.homeContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: #131313;
}
.bannerContainer {
  height: 60vh;
  width: 100vw;
  background-image: url('https://res.cloudinary.com/dzveiche5/image/upload/v1765077534/Image_wic0ql.png');
  background-size: cover;
}
.bannerContent {
  margin-top: 10vh;
  margin-left: 10vw;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bannerHeading {
  color: #ffffff;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 0px;
  margin-bottom: 3px;
}
.bannerPara {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 3px;
}
.bannerButton {
  width: 74px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #131313;
  border-style: none;
}
