.homeContainer {
  min-height: 100vh;
  width: 100%;
  background-color: #131313;
  overflow-x: hidden;
}
.bannerContainer {
  height: 60vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  padding-top: 90px;
}
.bannerContent {
  margin-left: 10vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bannerHeading {
  color: #ffffff;
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-size: 45px;
  line-height: 62px;
  letter-spacing: 0px;
  margin-bottom: 3px;
}
.bannerPara {
  font-family: 'HK Grotesk';
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 3px;
}
.bannerButton {
  width: 74px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #131313;
  border-style: none;
}
@media screen and (max-width: 767px) {
  .bannerHeading {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }

  .bannerPara {
    font-weight: 400;
    font-size: 13px;
  }
  .bannerCliff {
    font-size: 10px;
  }
}

.trendHeading {
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 10vw;
}
.homeView {
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  border-radius: 8px;
}
.homeFailureImg {
  width: 48px;
  height: 48px;
}
.homeFailurePara {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.homeFailureButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 120px;
  height: 48px;

  padding: 12px 24px;
  border-radius: 4px;
  border-style: none;
}
.slick-item {
  padding: 10px;
}

.logo-image {
  width: 90%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}
.slider-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.headDesktopView {
  display: block;
}
.headmobileView {
  display: none;
}
@media screen and (max-width: 767px) {
  .headDesktopView {
    display: none;
  }
  .headmobileView {
    display: inline;
  }
}
