.homeContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: #131313;
}
.bannerContainer {
  height: 60vh;
  width: 100vw;
  background-image: url('https://res.cloudinary.com/dzveiche5/image/upload/v1765077534/Image_wic0ql.png');
  background-size: cover;
}
