.headerContainer {
  /*height: 10vh;
  width: 100vw;
  background-color: rgba(12, 11, 16, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;*/
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: rgba(12, 11, 16, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.headerlogo {
  width: 135px;
  height: 39px;
}
.bannerList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.listItem {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.36px;
  color: #ffffff;
  margin-right: 10px;
}
.searchIcon {
  height: 24px;
  width: 24px;
  color: #ffffff;
}
.searchButton {
  background-color: transparent;
  border-style: none;
}
.linkItem {
  text-decoration: none;
  color: inherit;
}
.active {
  font-weight: 700;
}
.searchWrapper {
  display: flex;
  align-items: center;
  width: 264px;
  height: 40px;
  gap: 4px;
  padding: 0 8px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
}
.searchInput {
  flex: 1;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
}
.searchInput::placeholder {
  color: #9e9e9e;
}
.searchIconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchIcon {
  color: #ffffff;
  font-size: 20px;
}
.profileImage {
  height: 48px;
  width: 48px;
}
.iconContainer {
  display: none;
}
@media screen and (max-width: 767px) {
  .headerAccountCont {
    display: none;
  }
  .iconContainer {
    display: inline;
  }
  .hamburgerButton {
    background-color: transparent;
    border-style: none;
  }
  .hamburgerIcon {
    width: 24px;
    height: 24px;
  }
  .bannerList {
    display: none;
  }
}
.toggleContainer {
  padding-top: 10vh;
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 10;

  background-color: rgba(12, 11, 16, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.toggleList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
