.movieItemDetailsContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}
.movieView {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieFailureImg {
  height: 40vh;
  width: 40vw;
}
.movieFailurePara {
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.movieFailureButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 120px;
  height: 48px;

  padding: 12px 24px;
  border-radius: 4px;
  border-style: none;
}

.moviebannerContainer {
  height: 60vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  padding-top: 90px;
}
.moviebannerContent {
  margin-left: 10vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.moviebannerHeading {
  color: #ffffff;
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-size: 45px;
  line-height: 62px;
  letter-spacing: 0px;
  margin-bottom: 3px;
}
.moviebannerPara {
  font-family: 'HK Grotesk';
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 3px;
}
.moviebannerButton {
  width: 74px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #131313;
  border-style: none;
}
@media screen and (max-width: 767px) {
  .moviebannerHeading {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
  .moviebannerPara {
    font-weight: 400;
    font-size: 13px;
  }
}
.moviesmallList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  padding-left: 0px;
  margin-top: 0px;
  font-family: 'HK Grotesk';
}
.specialList {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 2px;
  padding: 0 10px;
}
