.movieItemDetailsContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}
.movieView {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieFailureImg {
  height: 40vh;
  width: 40vw;
}
.movieFailurePara {
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.movieFailureButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 120px;
  height: 48px;

  padding: 12px 24px;
  border-radius: 4px;
  border-style: none;
}

.movieSuccess {
  min-height: 100vh;
  width: 100vw;
}

.moviebannerContainer {
  height: 60vh;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  padding-top: 90px;
}
.moviebannerContent {
  margin-left: 10vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.moviebannerHeading {
  color: #ffffff;
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-size: 45px;
  line-height: 62px;
  letter-spacing: 0px;
  margin-bottom: 3px;
}
.moviebannerPara {
  font-family: 'HK Grotesk';
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 3px;
}
.moviebannerButton {
  width: 74px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #131313;
  border-style: none;
}
@media screen and (max-width: 767px) {
  .moviebannerHeading {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
  .moviebannerPara {
    font-weight: 400;
    font-size: 13px;
  }
}
.moviesmallList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  padding-left: 0px;
  margin-top: 0px;
  font-family: 'HK Grotesk';
}
.specialList {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 2px;
  padding: 0 10px;
}
.movieSecondPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;
  padding: 20px 0;
}
.movieSecondCont {
  display: flex;
  flex-direction: column;
}
.movieSecondHead {
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #94a3b8;
  margin: 1px;
  padding: 0;
}
.movieSecondList {
  list-style-type: none;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 0px;
  margin: 1px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .movieSecondCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .movieSecondPart {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .movieSecondHead {
    font-family: 'HK Grotesk';
    font-size: 8px;
    color: #94a3b8;
    margin: 1px;
    padding: 0;
    line-height: 10px;
  }
  .movieSecondList {
    list-style-type: none;
    font-family: 'HK Grotesk', sans-serif;
    font-size: 8px;
    color: #ffffff;
    margin: 1px;
    padding: 0;
    line-height: 10px;
  }
}
.movieHeading {
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 10vw;
}
movie-item {
  padding: 10px;
}
.movieListImage {
  height: 20vh;
  width: 20vw;
  margin: 10px;
  border-radius: 8px;
  object-fit: cover;
}
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.movieList li {
  list-style: none;
}
